<manifest package="vc.s908.stickerpipe_chat_sample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name=".App"
                 android:allowBackup="true"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:theme="@style/AppTheme">
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ShopActivity"/>
        <provider
                android:name="vc908.stickerfactory.provider.StickersProvider"
                android:authorities="vc.s908.stickerpipe_chat_sample.stickersProvider"
                android:exported="false"/>

        <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="vc.s908.stickerpipe_chat_sample"/>
            </intent-filter>
        </receiver>


    </application>


</manifest>
